<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Book list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
</head>
<body>
	<h1>Books</h1>
	<div class="col-md-4">
        Welcome
        <span sec:authentication="name">Username</span>
    </div>
	<div class="col-md-4" style="padding:20px 0">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"
                   class="btn btn-sm btn-danger"/>
        </form>
    </div>
    <table class="table table-striped">
		<tr>
		    <th>Title</th>
		    <th>Author</th>
		    <th>Publication year</th>
		    <th>ISBN</th>
		    <th>Price</th>
		    <th>Category</th>
			<th sec:authorize="hasRole('ADMIN')">Actions</th>
		
		</tr>  
    	<tr th:each = "book : ${books}">
    		<td th:text="${book.title}"></td>
    		<td th:text="${book.author}"></td>
            <td th:text="${book.publicationYear}"></td>
    		<td th:text="${book.isbn}"></td>
    		<td th:text="${book.price}"></td>
			<td th:text="${book.category != null ? book.category.name : 'No Category'}"></td>

 			<td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/delete/{id}(id=${book.id})}"
                   class="btn btn-xs btn-danger">
                    Delete
                </a>
            </td>
        </tr>
    </table>

    <a href="/add" class="btn btn-primary">Add Book</a>

</div>

</body>
</html>